@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
$color-logo: rgb(184, 4, 4);
$background-color: rgb(17, 17, 17);
$inside-color: rgb(48, 47, 47);
* {
  box-sizing: border-box;
}
a {
  text-decoration:none;
}
input::placeholder {
  color: rgb(168, 168, 168);
  font-size: medium;
}
.home {
  display: flex;
  background-color: $background-color;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: baseline;
}

.header {
  background-color: $background-color;
  position: fixed;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 1;
  .logo-place {
    position: relative;
    .switch-mode {
      margin-right: 20%;
    }
    .logo {
      font-size: 80px;
      margin: 20px 30% 20px;
      color: $color-logo;
    }
  }
  .search-box {
    position: relative;
    text-align: center;
    .search-box-form {
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
      height: 60px;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
      border: 2px solid $color-logo;
      border-radius: 50px;
      background-color: $inside-color;
      .search-text {
        padding-left: 10%;
        height: 100%;
        box-shadow: none;
        border: 0px;
        width: 80%;
        color: white;
        background-color: rgb(0, 0, 0, 0);
        font-size: medium;
        border-radius: 50px;
      }
      .search-submit {
        position: relative;
        height: 100%;
        background-color: rgb(0, 0, 0, 0);
        border: 0px;
        width: 20%;
        z-index: 2;
      }
      .search {
        position: fixed;
        left: 61.5%;
        top: 40px;
        font-size: 35px;
        color: $color-logo;
        z-index: 1;
      }
    }
  }
  .login-user {
    position: relative;
    text-align: center;
    .login {
      color: $color-logo;
      font-size: 40px;
      margin: 35px;
    }
  }
}
.navigation {
  float: left;
  height: inherit;
  width: 10%;
  transition: 500ms;
  nav {
    top: 150px;
    left: 3%;
    width: 5%;
    height: 500px;
    position: fixed;
    background-color: $inside-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 3px solid $color-logo;
    border-top: 3px solid $color-logo;
    z-index: 2;
    transition: 500ms;
    ul {
      padding-left: 20%;
      position: relative;
      height: 100%;
      list-style-type: none;
      margin: 0px;
      display: block;
      background-color: rgb(0, 0, 0, 0);
      li {
        border-top-right-radius: 10px;
        width: 100%;
        height: calc(100% / 6);
        display: flex;
        transition: 200ms;
        .nav {
          margin-top: 20px;
          font-size: xx-large;
          color: white;
        }
        .text {
          visibility: hidden;
          font-size: x-large;
          color: white;
          padding-top: 17px;
          padding-left: 13%;
          transition-delay: 200ms;
        }
      }
      li:hover {
        background-color: rgb(255, 72, 0);
      }
    }
  }
}
.navigation:hover {
  width: 400px;
  nav {
    width: 15%;
    .text {
      visibility: visible;
    }
  }
}
.body {
  margin-top: 100px;
  width: 90%;
  .banner {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    position: relative;
    height: 500px;
    margin-top: 50px;
    .container {
      width: 100%;
      height: inherit;
      position: relative;
      border: 2px solid $color-logo;
      border-radius: 60px;
      img {
        position: absolute;
      }
    }
    .context {
      position: relative;
      height: inherit;
      border-radius: inherit;
      transition: 200ms;
      .button-place {
        position: relative;
        top: 450px;
        text-align: right;
        margin-right: 5%;
        .button {
          visibility: hidden;
          position: relative;
          background-color: rgb(0, 0, 0, 0);
        }
      }
    }
    .context:hover {
      background-color: rgba(255, 255, 255, 0.2);
      .button {
        visibility: visible;
        position: relative;
        border: none;
        background-color: rgb(0, 0, 0, 0);
        padding: none;
        .button-icon {
          font-size: 40px;
          color: white;
        }
        .button-icon:hover {
          color: orangered;
        }
      }
    }
  }
  .films-container {
    margin-top: 20px;
    .title {
      color: white;
      font-size: xx-large;
      padding-left: 5%;
      border-left: 10px solid orangered;
    }
    .films-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat( 1, 500px);
      margin: 40px 5% 5%;
      .card {
        margin: 20px;
        position: relative;
        border-radius: 20px;
        border: 2px solid $color-logo;
        img {
          position: absolute;
        }
        .overload {
          transition: 200ms;
          position: absolute;
          .button {
            visibility: hidden;
            transition: 200ms;
            background-color: rgb(0, 0, 0, 0);
            border: 0px;
            .detail {
              visibility: hidden;
            }
          }
        }
        .content {
          margin-top: 260px;
          .header-name {
            height: 70px;
            background: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0)
            );
            position: relative;
          }
          .name {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            height: 130px;
            background-color: rgb(0, 0, 0, 0.7);
            position: relative;
            color: white;
            font-weight: 600;
            font-size: xx-large;
            text-align: center;
          }
        }
      }
      .card:hover {
        box-shadow: 1px 1px 15px white;
        .overload {
          border-radius: inherit;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
          .button {
            margin-top: 180px;
            visibility: visible;
            margin-left: 45%;
            background-color: white;
            border-radius: 50%;
            .detail {
              visibility: visible;
              font-size: 40px;
              color: orangered;
            }
          }
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 150px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: 500px;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: $inside-color;
  box-shadow: 1px 1px 15px white;
}
.popup img {
  width: 100%;
  height: 300px;
}
.popup h2 {
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  position: relative;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: white;
  max-height: 30%;
  overflow-y: scroll;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .body .films-container .films-list {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    grid-template-columns: 1fr 3fr 1fr;
    .logo-place{
      visibility: hidden;
    }
    .login-user {
      visibility: hidden;
    }
  }
  .body {
    margin-left: 10%;
    margin-right: 10%;
  }
  .navigation {
    width: 0px;
    nav {
      top: 20px;
      border: 0px;
      background-color: rgb(0, 0, 0, 0);
      left: 5%;
      li {
        visibility: hidden;
      }
      li:first-child {
        visibility: visible;
      }
    }
    pointer-events:none;
  }
  .popup {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .body .films-container .films-list {
    grid-template-columns: 1fr;
  }
  .header {
    grid-template-columns: 1fr;
    .logo-place{
      display: none;
    }
    .login-user {
      display: none;
    }
  }
}
