// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
$color-logo: rgb(184, 4, 4);
$background-color: rgb(17, 17, 17);
$inside-color: rgb(48, 47, 47);
* {
  box-sizing: border-box;
}
.account {
  width: 85%;
  margin-top: 150px;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-between;
  h3 {
    color: white;
  }
  .add-user {
    width: 30%;
    height: 210px;
    padding: 5px 30px 20px;
    background-color: $inside-color;
    border: 2px solid $color-logo;
    border-radius: 5px;
    #TextInput-68,
    #TextInput-71 {
      box-sizing: border-box;
      border: 1px solid gray;
      color: white;
      padding: 5px;
      box-shadow: none;
      border-radius: 2px;
    }
    button {
      margin-top: 0px;
    }
  }
  .show-user {
    height: auto;
    width: 65%;
    display: grid;
    background-color: $inside-color;
    border: 2px solid $color-logo;
    border-radius: 5px;
    .user-info {
      color: white;
      display: flex;
      height: 100%;
      align-items: center;
      border-bottom: 2px solid $color-logo;
      span {
        font-size: 50px;
      }
      .info {
        font-size: 20px;
        margin-left: 2%;
        width: 15%;
      }
      ::placeholder {
        font-size: 20px;
      }
      .col {
        width: 45%;
        margin-left: 5%;
        #TextInput-68 {
          font-size: 20px;
          color: white;
        }
      }
      button {
        margin-left: 2%;
        font-weight: 700;
      }
    }
  }
}
.news {
  width: 90%;
  height: fit-content;
  margin-top: 120px;
  .title {
    padding-left: 5%;
    color: white;
    font-size: xx-large;
    border-left: 10px solid orangered;
  }
  .card {
    height: 350px;
    background-color: $background-color;
    box-shadow: none;
    color: white;
    border-bottom: 1px solid $color-logo;
    margin: 40px 30% 40px 15%;
    padding-bottom: 50px;
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      padding-top: 10px;
    }
    .card-content {
      padding: 0px 0px 0px 10%;
      text-align: justify;
    }
    .card-action {
      display: none;
    }
    .card-title {
      font-size: x-large;
      font-weight: 700;
    }
    .by {
      padding-top: 10px;
    }
    .description {
      padding-top: 20px;
      display: block;
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      font-size: medium;
      line-height: 1.2;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.about {
  width: 90%;
  margin-top: 120px;
  ul {
    margin-left: 25%;
    margin-right: 25%;
    height: 500px;
    font-size: x-large;
    .collapsible-body {
      background-color: white;
    }
  }
}
.contact {
  width: 90%;
  margin-top: 120px;
  margin-bottom: 10%;
  h3 {
    color: white;
  }
  form {
    border: 3px solid $color-logo;
    margin-left: 25%;
    margin-right: 25%;
    height: fit-content;
    border-radius: 20px;
    padding: 0px 5% 2% 5%;
    .name {
      display: grid;
      grid-template-columns: 5fr 1fr 5fr;
    }
    i {
      color: white;
    }
    #Textarea-146 {
      padding: 5px;
    }
    #Textarea-68,
    #TextInput-132,
    #Textarea-146 {
      background-color: rgb(0, 0, 0, 0);
      border-bottom: 2px solid white;
      color: white;
      box-shadow: none;
    }
    label[for="Textarea-68"],
    [for="TextInput-132"] {
      color: white;
      font-size: medium;
    }
  }
}
input::placeholder {
  color: rgb(168, 168, 168);
  font-size: medium;
}
.main {
  display: flex;
  background-color: $background-color;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: inherit;
}
.header {
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  a {
    width: fit-content;
    display: block;
    text-align: center;
    margin-left: 30%;
    .logo {
      font-size: 70px;
      color: $color-logo;
    }
  }
  form {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    input {
      border: none;
      width: 80%;
      border-top-left-radius: 70px;
      border-bottom-left-radius: 70px;
      border: 2px solid $color-logo;
      border-right: none;
      padding-left: 10%;
      color: white;
      margin-bottom: 0px;
      height: 60px;
      background-color: $inside-color;
    }
    span {
      border-top-right-radius: 70px;
      border-bottom-right-radius: 70px;
      border: 2px solid $color-logo;
      border-left: none;
      width: 20%;
      display: block;
      text-align: center;
      padding-top: 15px;
      color: $color-logo;
      font-size: xx-large;
      background-color: $inside-color;
    }
  }
  .login-user {
    text-align: center;
    .login {
      font-size: 50px;
      color: $color-logo;
    }
  }
}

.modal-show {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  .modal {
    overflow: hidden;
    display: block;
    margin-top: 200px;
    background-color: $inside-color;
    border-radius: 10px;
    border: 1px solid $color-logo;
    height: fit-content;
    .modal-content {
      padding: 0px;
      iframe {
        width: 98%;
        height: 400px;
        margin: 1%;
      }
    }
    .modal-footer {
      padding: 0px;
      width: 100%;
      height: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-bottom-left-radius: inherit;
      button {
        border: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $inside-color;
      }
      .download:hover {
        background-color: #015801;
      }
      .wishlist:hover {
        background-color: #92011b;
      }
      .exit:hover {
        background-color: #ad0101;
      }
    }
  }
}
.navigation {
  float: left;
  height: inherit;
  width: 10%;
  transition: 500ms;
  nav {
    top: 150px;
    left: 3%;
    width: 5%;
    height: 500px;
    position: fixed;
    background-color: $inside-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 3px solid $color-logo;
    border-top: 3px solid $color-logo;
    z-index: 2;
    transition: 500ms;
    box-shadow: none;
    ul {
      padding-left: 20%;
      position: relative;
      height: inherit;
      list-style-type: none;
      margin: 2px 0px;
      display: block;
      background-color: rgb(0, 0, 0, 0);
      li {
        border-top-right-radius: 10px;
        width: 100%;
        display: flex;
        transition: 200ms;
        height: calc(495px / 8);
        .text {
          visibility: hidden;
          font-size: x-large;
          color: white;
          padding-left: 13%;
          transition-delay: 200ms;
        }
        .nav {
          font-size: xx-large;
          color: white;
          padding-top: 17px;
        }
      }
      a {
        text-decoration: none;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        display: block;
        li:hover {
          background-color: rgb(255, 72, 0);
        }
      }
    }
  }
}
.navigation:hover {
  width: 400px;
  nav {
    width: 15%;
    .text {
      visibility: visible;
    }
  }
}
.home {
  margin-top: 100px;
  width: 90%;
  .banner {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    position: relative;
    height: 500px;
    margin-top: 50px;
    .container {
      max-width: 10000px;
      width: 100%;
      height: inherit;
      position: relative;
      border: 2px solid $color-logo;
      border-radius: 60px;
      opacity: 1;
      .video {
        display: block;
        color: rgb(0, 0, 0, 0);
        position: absolute;
        left: 75%;
        top: 25%;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid white;
        box-shadow: 0px 0px 12px white;
        .circle {
          margin: 0px;
          position: absolute;
          width: 130px;
          height: 130px;
          border-radius: 50%;
          box-shadow: -5px -5px 12px $color-logo;
          animation: spin 2s linear infinite;
        }
        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
        .play {
          position: absolute;
          font-size: 70px;
          z-index: 1;
          color: $color-logo;
        }
      }
      img {
        position: absolute;
      }
    }
    .context {
      position: relative;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0)
      );
      position: relative;
      height: inherit;
      border-radius: inherit;
      transition: 200ms;
      .title {
        position: relative;
        top: 120px;
        width: 25%;
        color: white;
        font-size: 30px;
        font-weight: 900;
        height: 90px;
        line-height: 1.2;
        padding-left: 5%;
        text-align: left;
      }
      .infor {
        position: relative;
        text-align: justify;
        display: -webkit-box;
        top: 150px;
        width: 25%;
        padding-left: 5%;
        height: 120px;
        color: white;
        font-size: medium;
        line-height: 1.2;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .button-place {
        position: relative;
        top: 240px;
        text-align: right;
        margin-right: 5%;
        .button {
          visibility: hidden;
          position: relative;
          background-color: rgb(0, 0, 0, 0);
        }
      }
    }
    .context:hover {
      .button {
        visibility: visible;
        position: relative;
        border: none;
        background-color: rgb(0, 0, 0, 0);
        padding: none;
        .button-icon {
          font-size: 40px;
          color: white;
        }
        .button-icon:hover {
          color: orangered;
        }
      }
    }
  }
  .films-container {
    margin-top: 20px;
    .title {
      padding-left: 5%;
      color: white;
      font-size: xx-large;
      border-left: 10px solid orangered;
    }
    .films-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(1, 500px);
      margin: 40px 10%;
      .card {
        margin: 20px;
        position: relative;
        border-radius: 20px;
        border: 2px solid $color-logo;
        img {
          position: absolute;
        }
        .overload {
          transition: 200ms;
          position: absolute;
          .button {
            visibility: hidden;
            transition: 200ms;
            background-color: rgb(0, 0, 0, 0);
            border: 0px;
            .detail {
              visibility: hidden;
            }
          }
        }
        .content {
          margin-top: 260px;
          .header-name {
            height: 70px;
            background: linear-gradient(
              to top,
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0)
            );
            position: relative;
          }
          .name {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            height: 130px;
            background-color: rgb(0, 0, 0, 0.7);
            position: relative;
            color: white;
            font-weight: 600;
            font-size: xx-large;
            text-align: center;
          }
        }
      }
      .card:hover {
        box-shadow: 1px 1px 15px white;
        .overload {
          border-radius: inherit;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
          .button {
            margin-top: 180px;
            visibility: visible;
            margin-left: 40%;
            border-radius: 50%;
            .detail {
              visibility: visible;
              font-size: 60px;
              background-color: orangered;
              color: white;
              border-radius: 50%;
            }
            .detail:hover {
              box-shadow: 0px 0px 5px white;
            }
          }
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 150px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  height: 500px;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: $inside-color;
  box-shadow: 1px 1px 15px white;
}
.popup img {
  width: 100%;
  height: 300px;
}
.popup h2 {
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  position: relative;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: white;
  max-height: 30%;
  overflow-y: scroll;
  position: relative;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0px;
  height: 200px;
  .footer-content {
    .footer-links {
      margin-right: 30px;
      display: flex;
      justify-content: space-between;
      a {
        margin-top: 20px;
        display: block;
        color: #fff;
        margin-right: 20px;
        font-size: x-large;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.details {
  position: relative;
  margin: 150px;
  width: 100%;
  height: 500px;
  z-index: 1;
  color: white;
  display: flex;
  img {
    width: 60%;
    object-fit: cover;
    object-position: center;
  }
  background-color: $inside-color;
  border: 2px solid $color-logo;
  border-radius: 10px;
  .content {
    margin-left: 2%;
    .text {
      margin-top: 20px;
      font-size: 18px;
      margin-right: 10%;
    }
  }
}
@media screen and (max-width: 1280px) {
  .home .films-container {
    .films-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  .header {
    grid-template-columns: 1fr 3fr 1fr;
    .switch-mode {
      visibility: hidden;
    }
    .login-user {
      visibility: hidden;
    }
  }
  .navigation {
    width: 0px;
    nav {
      top: 20px;
      border: 0px;
      background-color: rgb(0, 0, 0, 0);
      left: 5%;
    }
    li {
      visibility: hidden;
    }
    .first {
      visibility: visible;
    }
  }
  .navigation:hover {
    background-color: $background-color;
    nav {
      background-color: $inside-color;
      border: 2px solid $color-logo;
      border-right: none;
      border-bottom: none;
      li {
        visibility: visible;
      }
      width: 200px;
    }
  }
  .popup {
    width: 90%;
  }
  .details {
    margin: 150px 10%;
    display: block;
    height: max-content;
    padding-bottom: 10px;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 50%;
    }
  }
  .contact {
    form {
      margin: 0px;
    }
  }
  .home {
    margin-left: 5%;
  }
}
@media screen and (max-width: 600px) {
  .home .films-container .films-list {
    grid-template-columns: 1fr;
  }
  .films-container {
    width: 100%;
  }
  .header {
    grid-template-columns: 1fr;
    .switch-mode {
      display: none;
    }
    .login-user {
      display: none;
    }
  }
}
